<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706481761868-op3jbqh2cbscllhj9bbd2knlm9ho6kmd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706481761868-op3jbqh2cbscllhj9bbd2knlm9ho6kmd</string>
	<key>API_KEY</key>
	<string>AIzaSyD0GyDaMvIJ6IgHdb6Z9u18f-J0FrwXnzE</string>
	<key>GCM_SENDER_ID</key>
	<string>706481761868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.videox</string>
	<key>PROJECT_ID</key>
	<string>videox-ccd2c</string>
	<key>STORAGE_BUCKET</key>
	<string>videox-ccd2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706481761868:ios:2621494cc7eb1ae3b3cee9</string>
</dict>
</plist>